@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body,
html {
    position: relative;
    overflow: hidden;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
}
