.container {
  position: relative;
}
.indications-content {
  position: relative;
  margin: 0 auto;
  max-width: 1136px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #212;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  p {
    margin: 0;
  }
  .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 48px 0;
    h1 {
      margin: 40px 0 0 0;
      font-size: 30px;
      line-height: 36px;
    }
  }
  .pages {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 2px;
    a {
      text-decoration: none;
      width: 156px;
      height: 36px;
      margin-right: 60px;
      font-weight: 400;
      line-height: 36px;
      color: #666;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
        width: 72px;
        height: 36px;
      }
      &:hover {
        background-color: #d6cdcd38;
        border-radius: 4px;
      }
      &:hover {
        background-color: #d6cdcd38;
        border-radius: 4px;
      }
      &:active {
        background-color: #a39e9e38;
        border-radius: 4px;
        animation-name: link-animation;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
        @keyframes link-animation {
          50% {
            transform: rotateX(25deg);
          }
          100% {
            transform: rotateX(0deg);
          }
        }
      }
    }
  }
  hr {
    margin: 0 0 48px 0;
    border: 1px solid #e4dcd3;
    border-radius: 3px;
  }
}

@media (max-height: 1440px) {
  .container {
    overflow: auto;
    height: 960px;
  }
  .buttons {
    margin: 0 0 20px 0;
  }
}
@media (max-height: 1180px) {
  .container {
    max-height: 1060px;
  }
}
@media (max-height: 950px) {
  .container {
    height: 870px;
  }
}
@media (max-height: 820px) {
  .container {
    height: 740px;
  }
}
@media (max-height: 800px) {
  .container {
    height: 720px;
  }
}
@media (max-height: 600px) {
  .container {
    height: 520px;
  }
  .buttons {
    margin: 0 0 20px 0;
  }
}
@media (max-height: 450px) {
  .container {
    height: 350px;
  }
  .buttons {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 1220px) {
  .container {
    overflow: auto;
  }
  .indications-content {
    .content-header {
      justify-content: center;
      flex-direction: column;
    }
    .line {
      padding: 0 50px;
    }
    .pages {
      a {
        margin-left: 50px;
        width: 156px;
        height: 36px;
        margin-right: 60px;
        font-weight: 400;
        line-height: 36px;
        color: #666666;
        &:last-child {
          margin-left: 0;
          margin-right: 0;
          width: 72px;
          height: 36px;
        }
      }
    }
  }
}
@media (max-width: 920px) {
  .container {
    max-height: 65%;
  }
}
@media (max-width: 830px) {
  .container {
    max-height: 85%;
  }
}
@media (max-width: 820px) {
  .container {
    max-height: 75%;
  }
}
@media (max-width: 720px) {
  .container {
    max-height: 85%;
  }
}
@media (max-width: 675px) {
  .container {
    max-height: 90%;
  }
}
@media (max-width: 600px) {
  .container {
    max-height: 90%;
  }
  .indications-content {
    .content-header {
      justify-content: center;
      flex-direction: column;
    }
    .line {
      padding: 0;
    }
    .pages {
      justify-content: center;
      a {
        margin-left: 0;
        width: 156px;
        height: 36px;
        margin-right: 30px;
        font-weight: 400;
        line-height: 36px;
        color: #666;
        &:last-child {
          margin-right: 0;
          width: 72px;
          height: 36px;
        }
      }
    }
  }
}
