<div class="container">

  <div class="applications-content">

    <div class="tool">

      <mat-form-field class="my-form-field" appearance="outline">
        <mat-label>Статус заявки</mat-label>
        <mat-select [(ngModel)]="selectedStatus" (ngModelChange)="onStatusSelected()">
          <mat-option *ngFor="let status of allStatuses" [value]="status"> {{status | applictionStatusConverter}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="my-form-field" appearance="outline">
        <mat-label>Дата заявки</mat-label>
        <input name="dateFilter" matInput [matDatepicker]="picker" [(ngModel)]="selectedDate"
          (ngModelChange)="onNewDateSelected()">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="my-form-field" appearance="outline">
        <mat-label>Поиск</mat-label>
        <input matInput name="textFilter" (keyup)="applyFilter($event)" autocomplete="false" #input>
      </mat-form-field>

    </div>

    <table mat-table class="striped" [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата </th>
        <td mat-cell *matCellDef="let row"> {{row.date | date:'dd.MM.yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Статус </th>
        <td mat-cell *matCellDef="let row"> {{row.status | applictionStatusConverter}} </td>
      </ng-container>

      <ng-container matColumnDef="theme">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Тема </th>
        <td mat-cell *matCellDef="let row"> {{row.theme}} </td>
      </ng-container>

      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Сообщение </th>
        <td mat-cell *matCellDef="let row"> {{row.message}} </td>
      </ng-container>

      <ng-container matColumnDef="cLientName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Клиент </th>
        <td mat-cell *matCellDef="let row"> {{row.cLientName}} </td>
      </ng-container>

      <ng-container matColumnDef="cLientAdress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Адресс </th>
        <td mat-cell *matCellDef="let row"> {{row.cLientAdress}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">Не найдено данных "{{input.value}}"</td>
      </tr>

    </table>
    <mat-paginator [pageSize]="pageSize" [showFirstLastButtons]="showFirstLastButtons" [hidePageSize]="hidePageSize"
      [pageIndex]="pageIndex" [hidePageSize]="hidePageSize" aria-label="Select page">
    </mat-paginator>
  </div>
</div>