<div class="header">
  <div class="header-content">
    <img class="logo" alt="CenterEcoTech Logo" src="./assets/img/logo.jpg">
    <div class="menu" [class.is-open]="isMenuOpen">
      <ul class="category">
        <li><a routerLink='/accruals' routerLinkActive="router-link-active">Начисления</a></li>
        <li><a routerLink='/indications' routerLinkActive="router-link-active">Показания</a></li>
        <li><a routerLink='/applications' routerLinkActive="router-link-active">Заявки</a></li>
        <li><a routerLink='/services' routerLinkActive="router-link-active">Услуги</a></li>
        <li><a routerLink='/news' routerLinkActive="router-link-active">Новости</a></li>
      </ul>
      <div class="category-profile">
        <a class="ph-avatar" routerLink='/profile' title="Сменить аватар">
          <img src="./assets/img/bx_bx-user-circle.svg" alt="avatar">
        </a>
        <a aria-label-mat-fab class="profile" routerLink='/profile' title="Профиль">+7 (495) 755-69-83</a>
        <a class="logout-logo" routerLink='/exit' title="Выход" (click)="logOut()">
          <img src="./assets/img/logout.svg" alt="exit">
        </a>
      </div>
    </div>
    <div class="burger" (click)="toggleMenu()">
      <i class="material-icons"> {{ isMenuOpen ? "close" : "menu" }}</i>
    </div>
  </div>
</div>