<div class="meters"> 
    <h1>Счетчики</h1>

    <div class="meters-block">

        <div class="block" *ngFor="let meter of clientCounterDto; let im of images"> 
            <img *ngIf="meter.name=='Горячая вода'" src="./assets/img/hot-water.svg">
            <img *ngIf="meter.name=='Холодная вода'" src="./assets/img/cold-water.svg">
            <img *ngIf="meter.name=='Газ'" src="./assets/img/gas.svg">
            
            <div class="info"> 
                <p class="header"> {{meter.name}}</p>
                <p class="value"> {{meter.postfix}} м. куб.</p>
            </div>
        </div>
    </div>


    <div class="addingMeter">

        <button class="adding-button" [disabled]="adding" (click)="activateAddingMeter()"> 
            Добавить счетчик
        </button>
    
        <div *ngIf="adding">
            <form class="form_cotainer">
                    <p>Выберите тип счетчика: </p> 
                    
                    <select class="input" name="Meter Name" [(ngModel)]="selectedMeterName" required>  
                        <option *ngFor="let meter of clientCounterDto" [ngValue]="meter.name"> {{meter.name}} </option>
                    </select>

                    <div class="message" *ngIf="message">
                        {{message}}
                    </div>                
                                
                    <div>
                        <button class="add-button" type="submit" (click)="onAddCLick()"> Добавить </button>
                        <button class="ready-button" type="submit" (click)="onReadyCLick()"> Готово </button>
                    </div>
                
            </form>
        </div>

    </div>
    
</div>
