<div class="meters"> 
    <h1>Счетчики</h1>

    <div class="meters-block">

        <div class="block"> 
            <img src="./assets/img/hot-water.svg">
            <div class="info"> 
                <p class="header">Горячая вода</p>
                <p class="value">36 м.куб</p>
            </div>
        </div>

        <div class="block"> 
            <img src="./assets/img/cold-water.svg">
            <div class="info"> 
                <p class="header">Холодная вода</p>
                <p class="value">126 м.куб</p>
            </div>
        </div>


        <div class="block"> 
            <img src="./assets/img/gas.svg">
            <div class="info"> 
                <p class="header">Газ</p>
                <p class="value">126 м.куб</p>
            </div>
        </div>

        <div class="block"> 
            <img src="./assets/img/gas.svg">
            <div class="info"> 
                <p class="header">Газ</p>
                <p class="value">126 м.куб</p>
            </div>
        </div>

    </div>
</div>
