.meters {
    h1 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #212121;
    }
    .meters-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .block {
            width: 254px;
            height: 84px;
            background: #F5F5F5;
            border-radius: 4px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            img {
                height: 40px;
                margin: 0 25px 0 25px;
            }

            .info {
                p {
                    margin: 0;
                }
                .header {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16px;
                }
                .value {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;
                }
            }
           
        }
    }
  }