.container {
  position: relative;
  max-height: auto;
}

.indication-content {
  position: relative;
  margin: 0 auto;
  max-width: 1136px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #212;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;

  p {
    margin: 0;
  }

  .indication {
    label {
      margin-bottom: 16px;
    }

    .my-form-field {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      width: 352px;
      height: 48px;
      color: #666;
    }

    input {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      width: 352px;
      height: 48px;
      color: #666;
      border: 1px solid #e4dcd3;
      border-radius: 4px;
      padding: 12px 20px 12px 20px;
      box-sizing: border-box;

      &.ng-invalid.ng-touched {
        border: 1px solid red;
      }

      &.ng-valid.ng-touched {
        border: 1px solid green;
      }
    }

    .data {
      display: flex;
      flex-direction: row;
      justify-content: left;
      margin: 0px auto 44px auto;
      &:nth-last-of-type(2) {
        margin-bottom: 60px;
      }
      .colums {
        display: flex;
        flex-direction: column;
        margin-right: 40px;
        .city {
          width: 220px;
        }
        .street {
          width: 220px;
        }
        .house {
          width: 190px;
        }
        .corps {
          width: 172px;
        }
        .flat {
          width: 172px;
        }
        &:last-of-type {
          margin-right: 0px;
        }
      }
    }
    button {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      white-space: pre;
      max-width: 300px;
      background: #004f9e;
      border-radius: 4px;
      border: 0;
      color: #fff;
      cursor: pointer;
      &:active {
        position: relative;
        top: 3px;
        -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
      }
      &:hover {
        background: #275ccf;
      }
    }
    .change {
      padding: 16px 74px 16px 73px;
    }

    .meters {
      position: relative;
      margin: 0 auto;
      max-width: 1136px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #212;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background: #fff;
      h1 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #212121;
      }
      .meters-block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        .block {
          margin: 5px;
          box-sizing: border-box;
          width: 270px;
          height: 84px;
          background: #f5f5f5;
          border-radius: 4px;
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          img {
            height: 40px;
            margin: 0 25px 0 25px;
          }

          .info {
            p {
              margin: 0;
            }
            .header {
              font-weight: 600;
              font-size: 14px;
              line-height: 16px;
            }
            .value {
              font-weight: 400;
              font-size: 18px;
              line-height: 24px;
            }
          }
        }
      }

      .addingMeter {
        margin-bottom: 40px;

        button {
          margin-top: 20px;
          margin-right: 20px;

          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          background-color: #fff;
          color: #004f9e;
          cursor: pointer;

          width: 174px;
          height: 44px;
          border: 1px solid #004f9e;
          border-radius: 4px;

          &:hover {
            background-color: #f5f5f5;
          }
          &:disabled {
            background-color: #f5f5f5;
            color: #004f9e;
            cursor: auto;
          }
        }

        .form_cotainer {
          // width: 400px;
          // margin: 20px 0 20px 0;
          // padding: 10px 0 30px 0;
          // background-color: #F5F5F5;
          // border-radius: 6px;
          // align-items: center;
          // text-align: center;

          .coll-row {
            display: flex;

            .colums {
              margin-right: 15px;
              display: flex;
              flex-direction: column;
            }
          }

          .input {
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            background: none;
            margin: 0 auto;
            width: 368px;
            border: thin solid #004f9e;
            padding: 10px 10px;
            outline: none;
            color: #000;
            border-radius: 6px;
            transition: 0.25s;
            box-sizing: border-box;
          }

          .message {
            padding: 5px;
            color: #e74c3c;
            width: 400px;
          }

          .add-button {
            color: white;
            background-color: #004f9e;
          }
          .ready-button {
            color: hsl(0, 7%, 67%);
            border-color: hsl(0, 7%, 67%);
          }
        }
      }
    }
  }
  .validation {
    color: red;
    font-size: 13px;
  }

  @media (max-height: 450px) {
    .buttons {
      margin: 0 0 20px 0;
    }
  }
  @media (max-width: 1220px) {
    .indication-content {
      .indication {
        .my-form-field {
          margin-bottom: 20px;
        }
        input {
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        .data {
          flex-direction: column;
          justify-content: center;
          margin: 0px auto 48px auto;
          &:nth-last-of-type(2) {
            margin-bottom: 52px;
          }
          .colums {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 0;
            .street {
              width: 352px;
            }
            &:last-of-type {
              margin-right: 0px;
            }
          }
        }
        .buttons {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          button {
            margin: 0 0 20px 0;
          }
        }
      }
    }
  }
  @media (max-width: 352px) {
    .indication-content {
      .indication {
        .my-form-field {
          width: 192px;
        }
        input {
          width: 192px;
        }
        .data {
          .colums {
            .street {
              width: 192px;
            }
          }
        }
        .buttons {
          button {
            scale: 0.8;
          }
        }
      }
    }
  }

  button {
    &:disabled {
      background-color: red !important;
      opacity: 0.5;
    }
  }
}
