<div class="page_container">

  <div class="dialog_contaier">

    <img class="logo" alt="CenterEcoTech Logo" src="./assets/img/logo.jpg">

    <h2>Вход в личный кабинет</h2>

    <app-loader *ngIf="codeIsCheck || codeIsSend"></app-loader>

    <ng-template [ngTemplateOutlet]="nowTemplate"></ng-template>

  </div>

</div>

<ng-template #inputPhoneTemplate>

  <form class="form_cotainer" [ngClass]="{'disabled': codeIsCheck}">

    <div class="fields">

      <p>
        <input type="text" autocomplete="off" placeholder="Номер телефона" name="login" #login="ngModel" required
          [(ngModel)]="phone">
      </p>

    </div>

    <div class="message" *ngIf="message">
      {{message}}
    </div>

    <button class="action-button" [disabled]="login.invalid || (codeIsCheck || codeIsSend)" (click)="onNextCLick()">
      Далее
    </button>

    <a class="demo-link" href="/registration">Регистрация</a>

    <a class="demo-link" href="/login">Демо-режим</a>

    <hr>

    <a class="support-link" href="/login">Служба поддержки</a>

    <div class="app-link">
      <a href="/app-store"><img class="store" alt="App Store" src="./assets/img/app-store.png"></a>
      <a href="/google-play"><img class="google" alt="Google Play" src="./assets/img/google-play.png"></a>
    </div>

  </form>

</ng-template>

<ng-template #inputCodeTemplate>

  <div class="form_cotainer" [ngClass]="{'disabled': codeIsSend}">

    <span>Пожалуйста, введите одноразовый пароль отправленный на номер {{phone}}</span>

    <button class="sub-button" (click)="onChangePhoneClick()">Поменять номер</button>

    <div class="fields">

      <p>
        <input type="text" autocomplete="off" placeholder="Одноразовый пароль" name="acceptCodeHtml"
          #acceptCodeHtml="ngModel" required [(ngModel)]="acceptCode">
      </p>

    </div>

    <div class="message" *ngIf="message">
      {{message}}
    </div>

    <button class="sub-button" (click)="onReSendCodeToPhoneClick()">Повторно отправить пароль</button>

    <button class="action-button" [disabled]="acceptCodeHtml.invalid || (codeIsCheck || codeIsSend)"
      (click)="onCheckCodeClick()">
      Войти
    </button>

    <div class="flex-content">
      <div><input type="checkbox" class="check" name="check" id="check" [checked]="true" required></div>
      <div class="policy">
        <p>Я согласен c <a class="about" href="/login">Пользовательским соглашением</a><br>
          и <a class="about" href="/login">Политикой обработки персональных данных.</a></p>
      </div>
    </div>

    <hr>

    <a class="support-link" href="/login">Служба поддержки</a>

    <div class="app-link">
      <a href="/app-store"><img class="store" alt="App Store" src="./assets/img/app-store.png"></a>
      <a href="/google-play"><img class="google" alt="Google Play" src="./assets/img/google-play.png"></a>
    </div>

  </div>

</ng-template>