<div class="container">
    <div class="news-content">
  
      <div class="content-header">
        <h1>Новости</h1>
      </div>


      <div class="main-article">
            <div class="photo">
                <img class="photo" src="https://vsegda-pomnim.com/uploads/posts/2022-02/1645918233_5-vsegda-pomnim-com-p-gololyod-foto-7.jpg">
            </div>

            <div class="text">
                <h3>
                    Заголовок статьи
                </h3>
                <p>
                    Текст статьи
                </p>
            </div>
      </div>


    </div>
</div>