body {
    overflow: scroll;
  }

.container {
    position: relative;
  }
  .news-content {
    position: relative;
    margin: 0 auto;
    max-width: 1136px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #212;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    p {
      margin: 0;
    }
    .content-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 40px 0;
      h1 {
        margin: 40px 0 0 0;
        font-size: 30px;
        line-height: 36px;
      }
    }

    .main-article {
        display: flex;
        .photo {
            object-fit: cover;
            width: 550px;
            height: 250px;
        }
        .text {
          margin-left: 40px;

          a {
            font-size: 20px;
            line-height: 28px;
            text-decoration: none;
            color: #000;
            &:hover {
              text-decoration: none;
              background-color: #d6cdcd38;
              border-radius: 4px;
            }
          }

          p {
            color: #666666;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            margin-top: 15px;

            overflow: hidden;
            text-overflow:clip;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
          }
         
        }
    }

    .other-news {
        display: flex;
        flex-wrap: wrap;
        .article {
            .photo {

                object-fit: cover;
                width: 254px;
                height: 192px;
            }

            .text {

              p {
                overflow: hidden;
                text-overflow:clip;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
              }
              
            }
        }
    }
}

@media (max-height: 1440px) {
    .container {
      overflow: auto;
      height: 960px;
    }
    .buttons {
      margin: 0 0 20px 0;
    }
  }