<body>
    <div class="container">
        <div class="news-content">
      
          <div class="content-header">
            <h1>Новости</h1>
          </div>  
    
          <div class="main-article" [routerLink]="['/news/article']" routerLinkActive="router-link-active">
                <div class="photo">
                    <img class="photo" src="{{articles.main_article?.pic}}">
                </div>

                <div class="text">
                    <a class="header" > 
                        {{articles.main_article?.name}}
                    </a>
                    <p>
                        {{articles.main_article?.content}}
                    </p>
                </div>
            </div>
    
          <div class="other-news">
    
            <div [routerLink]="['/news/article']" routerLinkActive="router-link-active" class="article" *ngFor="let atkl of articles.articles">
                <div class="photo">
                    <img class="photo" src="{{atkl.pic}}">
                </div>
    
                <div class="text">
                    <p class="header">
                        {{atkl.name}}
                    </p>
                    <p>
                        {{atkl.content}}
                    </p>
                </div>
            </div>    
          </div>    
        </div>
    </div>
</body>
