<body>
    <div class="container">
        <div class="news-content">
      
          <div class="content-header">
            <h1>Новости</h1>
          </div>  
    
          <div class="main-article">
                <div class="photo">
                    <img class="photo" src="https://vsegda-pomnim.com/uploads/posts/2022-02/1645918233_5-vsegda-pomnim-com-p-gololyod-foto-7.jpg">
                </div>
    
                <div class="text">
                    <a [routerLink]="['/news/main-article']" routerLinkActive="router-link-active"> 
                        {{articles.main_article.name}}
                    </a>
                    <p>
                        {{articles.main_article.content}}
                    </p>
                </div>
          </div>
    
          <div class="other-news">
    
            <div class="article">
                <div class="photo">
                    <img class="photo" src="https://vsegda-pomnim.com/uploads/posts/2022-02/1645918233_5-vsegda-pomnim-com-p-gololyod-foto-7.jpg">
                </div>
    
                <div class="text">
                    <a [routerLink]="['/news/article']" routerLinkActive="router-link-active"> 
                        {{articles.articles[0].name}}
                    </a>
                    <p>
                        {{articles.articles[0].content}}
                    </p>
                </div>
            </div>
    
            <div class="article">
                <div class="photo">
                    <img class="photo" src="https://vsegda-pomnim.com/uploads/posts/2022-02/1645918233_5-vsegda-pomnim-com-p-gololyod-foto-7.jpg">
                </div>
    
                <div class="text">
                    <a [routerLink]="['/news/article']" routerLinkActive="router-link-active"> 
                        {{articles.articles[1].name}}
                    </a>
                    <p>
                        {{articles.articles[1].content}}
                    </p>
                </div>
            </div>
    
            <div class="article">
                <div class="photo">
                    <img class="photo" src="https://vsegda-pomnim.com/uploads/posts/2022-02/1645918233_5-vsegda-pomnim-com-p-gololyod-foto-7.jpg">
                </div>
    
                <div class="text">
                    <a [routerLink]="['/news/article']" routerLinkActive="router-link-active"> 
                        {{articles.articles[2].name}}
                    </a>
                    <p>
                        {{articles.articles[2].content}}
                    </p>
                </div>
            </div>
    
            <div class="article">
                <div class="photo">
                    <img class="photo" src="https://vsegda-pomnim.com/uploads/posts/2022-02/1645918233_5-vsegda-pomnim-com-p-gololyod-foto-7.jpg">
                </div>
    
                <div class="text">
                    <a [routerLink]="['/news/article']" routerLinkActive="router-link-active"> 
                        {{articles.articles[3].name}}
                    </a>
                    <p>
                        {{articles.articles[3].content}}
                    </p>
                </div>
            </div>
          </div>
    
    
        </div>
    </div>
</body>
