.container {
  position: relative;
}

.indications-content {
  position: relative;
  margin: 0 auto;
  max-width: 1136px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #212;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;

  .tool {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .my-form-field {
      margin: 0 5px;
    }
  }

  p {
    margin: 0;
  }

  table {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    width: 1136px;
    height: 48px;
    color: #666;
    border-radius: 4px;
    box-sizing: border-box;
  }

  th.mat-sort-header-sorted {
    color: black;
  }
}

@media (max-width: 600px) {
  .indications-content {
    table {
      align-self: center;
      width: 80%;
    }
  }
}
